In [41]:
import numpy as np
import pandas as pd
import os
import os.path

Render tiene una restricción de memoria por lo que vamos a reducir los archivos utilizados en la API a un 10%. Esto es simplemente para poder montarlo en Render.

Abrimos los archivos utilizados en el archivo `main.py`

In [3]:
items_games = pd.read_parquet('..\\Archivos API\\items_games_API.parquet')
reviews_games = pd.read_parquet('..\\Archivos API\\reviews_games.parquet')
steam_games = pd.read_parquet('..\\Archivos API\\steam_games_API.parquet')

Creamos Dataframes reducidos con el 10% de datos aleatorios

In [26]:
# El valor random_state es para poder replicar la muestra, siempre que tenga el mismo numero, devolverá el mismo Dataframe
items_games_reducido = items_games.sample(frac=0.1, random_state=50)
reviews_games_reducido = reviews_games.sample(frac=0.1, random_state=50)
steam_games_reducido = steam_games.sample(frac=0.1, random_state=50)

Reindexamos

In [27]:
items_games_reducido.reset_index(drop=True, inplace=True)
reviews_games_reducido.reset_index(drop=True, inplace=True)
steam_games_reducido.reset_index(drop=True, inplace=True)

Comparamos y vemos que efectivamente los Dataframes reducidos contienen un 10% de los datos de los Dataframes originales

In [35]:
items_games

             genres  year_release  playtime_forever            user_id
0            Action          2000                 6  76561197970982479
1            Action          2000                 0            js41637
2            Action          2000                 0         Riot-Punch
3            Action          2000                93              doctr
4            Action          2000               108     corrupted_soul
...             ...           ...               ...                ...
7461478       Indie          2016                46  76561198071808318
7461479      Action          2016               164  76561198107283457
7461480      Casual          2016               164  76561198107283457
7461481       Indie          2016               164  76561198107283457
7461482  Simulation          2016               164  76561198107283457

[7461483 rows x 4 columns]

In [36]:
items_games_reducido

,genres,year_release,playtime_forever,user_id
0,Indie,2016,253,76561198026714403
1,Action,2009,0,flamingpixelations
2,Action,2014,34,neon-potato
3,Action,2010,11,76561197961718947
4,Action,2011,198,76561198032050142
...,...,...,...,...
746143,Action,2013,49,76561198022092016
746144,Indie,2015,28,snezzey
746145,Adventure,2015,236,mayshowganmore
746146,Massively Multiplayer,2014,5,76561198022148624
746147,Indie,2014,15,Arthadonis

In [37]:
reviews_games

,user_id,posted,item_id,recommend,sentiment_analysis,year_posted,title,genres,release_date,year_release
0,76561197970982479,2011-11-05,1250,1,2,2011,Killing Floor,Action,2009-05-14,2009
1,death-hunter,2015-03-30,1250,1,2,2015,Killing Floor,Action,2009-05-14,2009
2,DJKamBer,2013-07-12,1250,1,0,2013,Killing Floor,Action,2009-05-14,2009
3,diego9031,2015-08-13,1250,1,1,2015,Killing Floor,Action,2009-05-14,2009
4,76561198081962345,2014-04-05,1250,1,1,2014,Killing Floor,Action,2009-05-14,2009
...,...,...,...,...,...,...,...,...,...,...
101582,Gamer0009,2015-08-11,306040,1,2,2015,The Howler,Simulation,2016-04-21,2016
101583,Gamer0009,2015-08-11,306040,1,2,2015,The Howler,Strategy,2016-04-21,2016
101584,llDracuwulf,2015-10-29,307130,1,2,2015,Asteria,Action,2014-07-03,2014
101585,llDracuwulf,2015-10-29,307130,1,2,2015,Asteria,Adventure,2014-07-03,2014
101586,llDracuwulf,2015-10-29,307130,1,2,2015,Asteria,Indie,2014-07-03,2014

In [38]:
reviews_games_reducido

,user_id,posted,item_id,recommend,sentiment_analysis,year_posted,title,genres,release_date,year_release
0,mangledopopop,2013-10-02,212480,1,1,2013,Sonic &amp; All-Stars Racing Transformed,Sports,2013-01-31,2013
1,091263,2013-12-27,105600,1,2,2013,Terraria,RPG,2011-05-16,2011
2,brenos619,2014-09-08,305260,1,1,2014,Battle Islands,Free to Play,2014-08-06,2014
3,76561198088584293,2014-12-23,316930,1,1,2014,Kings of Kung Fu,Indie,2015-06-25,2015
4,D3LTAS-L1GHT,2014-07-25,304930,1,2,2014,Unturned,Adventure,2017-07-07,2017
...,...,...,...,...,...,...,...,...,...,...
10154,hand0fcthulhu,2014-12-22,248570,1,1,2014,Toribash,Free to Play,2006-03-01,2006
10155,shemwuw,2013-12-03,440,1,0,2013,Team Fortress 2,Action,2007-10-10,2007
10156,76561198017233887,2015-11-28,242920,1,2,2015,Banished,Indie,2014-02-18,2014
10157,76561198046807777,2015-04-07,248820,1,1,2015,Risk of Rain,RPG,2013-11-08,2013
10158,fam4,2014-06-22,730,1,2,2014,Counter-Strike: Global Offensive,Action,2012-08-21,2012

In [39]:
steam_games

,item_id,title,description
0,761140,Lost Summoner Kitty,"Action, Casual, Indie, Simulation, Strategy, S..."
1,643980,Ironbound,"Free to Play, Indie, RPG, Strategy, Free to Pl..."
2,670290,Real Pool 3D - Poolians,"Casual, Free to Play, Indie, Simulation, Sport..."
3,767400,弹炸人2222,"Action, Adventure, Casual, Action, Adventure, ..."
4,772540,Battle Royale Trainer,"Action, Adventure, Simulation, Action, Adventu..."
...,...,...,...
28233,745400,Kebab it Up!,"Action, Adventure, Casual, Indie, Action, Indi..."
28234,773640,Colony On Mars,"Casual, Indie, Simulation, Strategy, Strategy,..."
28235,733530,LOGistICAL: South Africa,"Casual, Indie, Strategy, Strategy, Indie, Casu..."
28236,610660,Russian Roads,"Indie, Racing, Simulation, Indie, Simulation, ..."
28237,658870,EXIT 2 - Directions,"Casual, Indie, Indie, Casual, Puzzle, Singlepl..."

In [40]:
steam_games_reducido

,item_id,title,description
0,596520,Please - Soundtrack,"Action, Adventure, Indie, Action, Adventure, I..."
1,392700,Glück Auf,"Strategy, Strategy, Single-player, Multi-playe..."
2,423950,Deadlight: Director's Cut,"Action, Adventure, Action, Adventure, Zombies,..."
3,534580,Fantasy Grounds - Deadlands Reloaded: Hell on ...,"Indie, RPG, Strategy, Strategy, RPG, Indie, Mu..."
4,552410,Project Abyss,"Action, Adventure, Indie, RPG, Simulation, Act..."
...,...,...,...
2819,63000,HOARD,"Action, Casual, Indie, Strategy, Casual, Indie..."
2820,448195,Train Simulator: Clear Creek Old Timer Rolling...,"Simulation, Simulation, Single-player, Downloa..."
2821,433320,Marvel: Ultimate Alliance 2,"Action, Adventure, RPG, Action, RPG, Adventure..."
2822,610420,Fantasy Grounds - 0one's Colorprints #3: The B...,"Indie, RPG, Strategy, Strategy, RPG, Indie, Mu..."
2823,265690,NaissanceE,"Adventure, Indie, Indie, Exploration, Adventur..."

Creamos nuevos archivos con los Dataframes reducidos

In [45]:
items_games.to_parquet(os.path.join('items_games_API_reducido.parquet'), index=False)

In [46]:
reviews_games.to_parquet(os.path.join('reviews_games_reducido.parquet'), index=False)

In [47]:
steam_games.to_parquet(os.path.join('steam_games_API_reducido.parquet'), index=False)